<%- include('layouts/header') %>

<!-- Page Title START -->
<div class="page-title-section" style="background-image: url(img/bg/header-bg-4.jpg">
    <div class="container">
        <h1><%= title %></h1>
        <ul>
            <li><a href="/">Главный</a></li>
            <li><a href=""><%= title %></a></li>
        </ul>
    </div>
</div>
<!-- Page Title END -->

<!-- Contact Boxes START -->
<div class="section-block-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="contact-box">
                    <i class="fa fa-phone-square"></i>
                    <h4>Call Us</h4>
                    <span>+123 456-78900</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="contact-box">
                    <i class="fa fa-map"></i>
                    <h4>Visit Us</h4>
                    <span>New York, NY Sheram 113</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="contact-box">
                    <i class="fa fa-envelope"></i>
                    <h4>Mail Us</h4>
                    <span>specthemes@gmail.com</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="contact-box">
                    <i class="fa fa-comments-o"></i>
                    <h4>Live Chat</h4>
                    <span>Chat with Us 24/7</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Boxes END -->




<!-- Contact Form Section START -->
<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Напишите нам</span>
            <h3>Мы ждем тебя с любовью</h3>
            <div class="section-heading-line"></div>
        </div>
        <div class="mt-50">
            <div class="contact-form-box">
                <!-- Form Start -->
                <form class="contact-form row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <input type="email" name="email" placeholder="E-mail">
                    </div>

                    <div class="col-md-12">
                        <input type="text" name="subject" placeholder="Subject">
                    </div>

                    <div class="col-md-12">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="center-holder">
                            <button type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
                <!-- Form End -->
            </div>
        </div>
    </div>
</div>
<!-- Contact Form Section END -->





<!-- Map START -->
<div class="mt-50">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3847.311691743914!2d44.43159569341073!3d40.15870845181476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abe6478577e7b%3A0x3b751394030d2cb!2z0JDRgNCz0LDQstCw0L3QtCAwODA1LCDQkNGA0LzQtdC90LjRjw!5e1!3m2!1sru!2s!4v1571681849873!5m2!1sru!2s"
        width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<!-- Map START -->

<%- include('layouts/footer') %>