<%- include('layouts/header') %>


<!--  MY FAVORITE START -->


<div class="section-block-grey">
    <div class="container">

        <!-- <div class="favorite-info-box"> 
            <h2>У вас нет любимых продуктов</h2>
        </div> -->

        <!-- <div class="row mt-50">
            <div class="col-lg-4 col-md-6 col-12 hide-product-box">
                <div class="sale-box">
                    <span>New</span>
                </div>
                <div class="all-prod-box">
                    <div class="heart-box hide-product">
                        <i class="icon-line-awesome-heart-o"></i>
                    </div>
                    <a href="#">
                        <div class="all-prod-box-img">
                            <div class="item_img all-prod-box-img-h">
                                <img src="img/mebel/meb-2.jpg">
                                <img src="img/mebel/meb-3.jpg">
                                <img src="img/mebel/meb-4.jpg">
                                <img src="img/mebel/meb-1.jpg">
                            </div>
                        </div>
                    </a>
                    <div class="all-prod-box-info">
                        <h6> <span>Код :</span> pro.63135 </h6>
                        <a href="#">
                            <h5>ТУМБА ПРИКРОВАТНАЯ "ВИТА 1" С ДВЕРЬЮ МДФ</h5>
                        </a>
                        <div class="all-prod-box-info-color">
                            <h5>Цвет:</h5>
                            <div class="all-prod-box-color-1"></div>
                            <div class="all-prod-box-color-2"></div>
                            <div class="all-prod-box-color-3"></div>
                            <div class="all-prod-box-color-4"></div>
                        </div>
                        <div class="all-prod-box-info-button">
                            <a href="#">Подробнее </a>
                            <h4>365000 &#1423</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->


        <div class="wishBar">
            <div class="WB_righSide">
                <a id="clearWish" class="trashIcon btn btn-danger" title="Remove All" href="#">Remove All</a>
                
            </div>
            <div id="wishList" class="row">
                <!-- list of wished item -->
            </div>
        </div>



        <div class="box-pagination">
            <div class="">
                <ul>
                    <li> << </li>
                    <li class="pagination-active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>...</li>
                    <li>>></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!--  MY FAVORITE END -->

<%- include('layouts/footer') %>