<%- include('layouts/header') %>

<!-- approvedPage failed start -->


<div class="container">
    
   <div class="row">
      <div class="col-md-6 mx-auto mt-5">
        <div class="login-page_ameria">
            <div class="form_ameria">
                <h3>Ameria VPOS</h3>
                <img src="../public/img/bank/ameria.png" class="ameria_image" alt="img" />
              <form class="register-form_ameria">
                <input type="text" placeholder="name"/>
                <input type="password" placeholder="password"/>
                <input type="text" placeholder="email address"/>
                <button>վճարել</button>
              </form>
            </div>
          </div>
      </div>
   </div>
</div>



<!-- approvedPage failed end -->


<%- include('layouts/footer') %>